﻿@page
@model AboutModel
@{
    ViewData["Title"] = "เกี่ยวกับ";
}
<h2>@ViewData["Title"]</h2>
<h3>เกี่ยวกับเว็บไซต์ของเรา</h3>

<p>เราได้ทำระบบรายการคิวสั่งอาหาร เพื่อความสะดวกของลูกค้าและร้านค้า</p>
<hr>
<h4>หน้าทั้งหมดที่สามารถเข้าได้</h4>
<div>
    <li><a href="/StoreAdmin">เพิ่มร้านค้า</a></li>
    <li><a href="/FoodMenuAdmin">เพิ่มเมนู</a></li>
    <li><a href="/Order">หน้าสั่งซื้อ</a></li>
    <br>
    <p>หน้าที่ไม่ปรากฏบนแทบเมนู (สำหรับแอดมิน)</p>
    <li><a href="/ContainerAdmin">เพิ่มภาชนะ</a></li>
    <li><a href="/FoodOrderAdmin">ข้อมูลผู้สั่งซื้อทั้งหมด</a></li>
</div>
