﻿@page
@model ContactModel
@{
    ViewData["Title"] = "ติดต่อผู้พัตนาเว็บไซต์";
}
<h2>@ViewData["Title"]</h2>
<h4>ติดต่อได้ทางช่องทางดังนี้</h4>


<address>
    <strong>สนับสนุน:</strong> <a href="ys.samseng@gmail.com">ys.samseng@gmail.com</a><br />
    <strong>การตลาด:</strong> <a href="mumudfitree@gmail.com">mumudfitree@gmail.com</a>
</address>
