﻿@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using FoodOrderingQueue.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="font-weight: bold; background-color: #EDDEA4; ">
    <h1 style="text-align: center;">ระบบรายการคิวสั่งซื้ออาหาร</h1>
</div>

<a href="/Order" style="text-align: right;">
    <h3>สั่งซื้ออาหาร</h3>
</a>
<div id="MyClockDisplay" class="clock" onload="showTime()"></div>
<h2 style="background-color: #EDDEA4;">รายการคิวตอนนี้</h2>
<table class="table">
    <thead>
        <h2 style="font-weight: bold; text-align: center;">ร้านค้า</h2>
    </thead>
    @foreach (var item in Model.Store) {
        <div class="row">
            <div class="col">
                <h3 style="font-weight: bold; text-align: center; background-color: #17D4FE;" >@Html.DisplayFor(modelItem => item.StoreName)</h3>
            </div>
        </div>
        <div class="row" style="text-align: center; font-weight: bold; Background-color : #EDDEA4;">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.FoodMenu[0].FoodName)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.FoodMenu[0].Price)
            </div>
            <div class="col-md-1">
                ใส่ภาชนะ
            </div>
            <div class="col-md-3">
                คำอธิบาย
            </div>
            <div class="col-md-2">
                คุณจะได้รับอาหารในเวลา
            </div>
            <div class="col-md-3">
                ผู้สั่งอาหาร
            </div>
        </div>
        <tbody>
        @foreach (var items in Model.FoodOrder) {
            @if(@items.Stores.StoreID == @item.StoreID){
                <div class="row" style="text-align: center;">
                    <hr>
                    <div class="col-md-2">
                        @Html.DisplayFor(modelItem => items.FoodName)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => items.Price)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => items.Containers.ContainerName)
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(modelItem => items.Describe)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(modelItem => items.FinshedTime)
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(modelItem => items.postUser.FirstName)
                        @Html.DisplayFor(modelItem => items.postUser.LastName)
                    </div>
                </div>
            }
        }
        </tbody>
    }
</table>

<script>
    function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;
    
    setTimeout(showTime, 1000);

    }

    showTime();

</script>

<style>
    .clock {
        border-style: solid;
        border-color: black;
        background-color: black;
        color: #17D4FE;
        font-family: Orbitron;
        letter-spacing: 7px;
    }
</style>
