@page
@model FoodOrderingQueue.Pages.FoodMenuAdmin.CreateModel
@using Microsoft.AspNetCore.Identity
@using FoodOrderingQueue.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager


@{
    ViewData["Title"] = "สร้างเมนูอาหาร";
}

<h2>สร้างเมนูอาหาร</h2>

<h4>สร้างเมนูอาหารของคุณ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เลือกร้านค้าของคุณ
                <select asp-for="FoodMenu.StoreID" class ="form-control">
                    @foreach (var item in Model.Store)
                    {
                        if(item.postUser.Id == UserManager.GetUserId(User)){
                            <option value="@item.StoreID">@item.StoreName</option>
                        }
                        
                    }
                </select>
                    
            </div>
            <div class="form-group">
                ชื่อเมนู
                <input asp-for="FoodMenu.FoodName" class="form-control" />
                <span asp-validation-for="FoodMenu.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา (บาท)
                <input asp-for="FoodMenu.Price" class="form-control" />
                <span asp-validation-for="FoodMenu.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                ระยะเวลาการทำอาหาร (นาที)
                <input asp-for="FoodMenu.RateTime" class="form-control" />
                <span asp-validation-for="FoodMenu.RateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                ผู้สร้างเมนู
                @UserManager.GetUserAsync(User).Result.FirstName
                @UserManager.GetUserAsync(User).Result.LastName
                <input asp-for="FoodMenu.NewsUserId" value="@UserManager.GetUserId(User)" class="form-control" type="hidden"/>
                <span asp-validation-for="FoodMenu.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้างเมนู" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
