@page
@model FoodOrderingQueue.Pages.FoodMenuAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoodMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.Stores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.Stores.StoreID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.FoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.FoodName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.RateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.RateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.NewsUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.NewsUserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FoodMenu.FoodMenuID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
