@page
@model FoodOrderingQueue.Pages.FoodMenuAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.Stores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.Stores.StoreID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.FoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.FoodName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.RateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.RateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodMenu.NewsUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodMenu.NewsUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FoodMenu.FoodMenuID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
