@page
@model FoodOrderingQueue.Pages.FoodMenuAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FoodMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodMenu.FoodMenuID" />
            <div class="form-group">
                <label asp-for="FoodMenu.StoreID" class="control-label"></label>
                <select asp-for="FoodMenu.StoreID" class="form-control" asp-items="ViewBag.StoreID"></select>
                <span asp-validation-for="FoodMenu.StoreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodMenu.FoodName" class="control-label"></label>
                <input asp-for="FoodMenu.FoodName" class="form-control" />
                <span asp-validation-for="FoodMenu.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodMenu.Price" class="control-label"></label>
                <input asp-for="FoodMenu.Price" class="form-control" />
                <span asp-validation-for="FoodMenu.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodMenu.RateTime" class="control-label"></label>
                <input asp-for="FoodMenu.RateTime" class="form-control" />
                <span asp-validation-for="FoodMenu.RateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodMenu.NewsUserId" class="control-label"></label>
                <input asp-for="FoodMenu.NewsUserId" class="form-control" />
                <span asp-validation-for="FoodMenu.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
