@page
@model FoodOrderingQueue.Pages.FoodMenuAdmin.IndexModel
@using Microsoft.AspNetCore.Identity
@using FoodOrderingQueue.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager
@{
    ViewData["Title"] = "เมนูอาหาร";
}

<h2>เมนูอาหาร</h2>

<p>
    <a asp-page="Create">เพิ่มเมนูอาหารของคุณ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ร้านค้า
            </th>
            <th>
                เมนูอาหาร
            </th>
            <th>
                ราคา
            </th>
            <th>
                ระยะเวลา/นาที
            </th>
            <th>
                ผู้สร้างเมนูอาหาร
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodMenu) {
    if(item.NewsUserId == @UserManager.GetUserId(User)){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stores.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
                @Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodMenuID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.FoodMenuID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodMenuID">ลบ</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
