@page
@model FoodOrderingQueue.Pages.ContainerAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Container.ContainerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Container.ContainerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Container.ContainerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
