@page
@model FoodOrderingQueue.Pages.ContainerAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Container[0].ContainerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Container) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ContainerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContainerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContainerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
