@page
@model FoodOrderingQueue.Pages.FoodOrderAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FoodOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodOrder.StoreID" class="control-label"></label>
                <select asp-for="FoodOrder.StoreID" class ="form-control" asp-items="ViewBag.StoreID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.FoodMenuID" class="control-label"></label>
                <select asp-for="FoodOrder.FoodMenuID" class ="form-control" asp-items="ViewBag.FoodMenuID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.FoodName" class="control-label"></label>
                <input asp-for="FoodOrder.FoodName" class="form-control" />
                <span asp-validation-for="FoodOrder.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.Price" class="control-label"></label>
                <input asp-for="FoodOrder.Price" class="form-control" />
                <span asp-validation-for="FoodOrder.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.FinshedTime" class="control-label"></label>
                <input asp-for="FoodOrder.FinshedTime" class="form-control" />
                <span asp-validation-for="FoodOrder.FinshedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.ContainerID" class="control-label"></label>
                <select asp-for="FoodOrder.ContainerID" class ="form-control" asp-items="ViewBag.ContainerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.Describe" class="control-label"></label>
                <input asp-for="FoodOrder.Describe" class="form-control" />
                <span asp-validation-for="FoodOrder.Describe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodOrder.NewsUserId" class="control-label"></label>
                <input asp-for="FoodOrder.NewsUserId" class="form-control" />
                <span asp-validation-for="FoodOrder.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
