@page
@model FoodOrderingQueue.Pages.FoodOrderAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.Stores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.Stores.StoreID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.FoodMenus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.FoodMenus.FoodMenuID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.FoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.FoodName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.FinshedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.FinshedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.Containers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.Containers.ContainerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.Describe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.Describe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.NewsUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodOrder.NewsUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FoodOrder.FoodOrderID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
