@page
@model FoodOrderingQueue.Pages.FoodOrderAdmin.IndexModel

@{
    ViewData["Title"] = "ข้อมูลผู้ซื้อ";
}

<h2>ข้อมูลผู้ซื้อ</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                ร้านค้า
            </th>
            <th>
                เมนูไอดี
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrder[0].FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrder[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrder[0].FinshedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrder[0].Containers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrder[0].Describe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrder[0].NewsUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stores.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodMenus.FoodMenuID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinshedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Containers.ContainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
                @Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.FoodOrderID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodOrderID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
