@page
@using Microsoft.AspNetCore.Identity
@using FoodOrderingQueue.Models

@model FoodOrderingQueue.Pages.StoreAdmin.CreateModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@{
    ViewData["Title"] = "สร้างร้านค้า";
}

<h2>สร้างร้านค้า</h2>

<h4>สร้างร้านค้าของคุณ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่อร้านค้า :
                <input asp-for="Store.StoreName" class="form-control" />
                <span asp-validation-for="Store.StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                คำอธิบายร้านค้า :
                <input asp-for="Store.StoreDescirbe" class="form-control" />
                <span asp-validation-for="Store.StoreDescirbe" class="text-danger"></span>
            </div>
            <div class="form-group">
                สร้างโดยผู้เป็นเจ้าของร้านค้า: @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
                <input asp-for="Store.NewsUserId" type="hidden" value="@UserManager.GetUserId(User)" asp-items="ViewBag.NewsUserID" />
                <span asp-validation-for="Store.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้างร้านค้า" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
