@page
@model FoodOrderingQueue.Pages.StoreAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreDescirbe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreDescirbe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store.NewsUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.NewsUserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Store.StoreID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
