@page
@model FoodOrderingQueue.Pages.StoreAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreDescirbe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreDescirbe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store.NewsUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.NewsUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Store.StoreID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
