@page
@model FoodOrderingQueue.Pages.StoreAdmin.IndexModel
@using Microsoft.AspNetCore.Identity
@using FoodOrderingQueue.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager
@{
    ViewData["Title"] = "สร้างร้านค้า";
}

<h2>สร้างร้านค้า</h2>

<p>
    <a asp-page="Create">เพิ่มร้านค้าของคุณ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อร้านค้า
            </th>
            <th>
                คำอธิบายร้านค้า
            </th>
            <th>
                ผู้สร้างร้านค้า
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Store) {
    if(item.NewsUserId == @UserManager.GetUserId(User)){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreDescirbe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName)
                @Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StoreID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.StoreID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.StoreID">ลบ</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
