﻿@page
@model FoodOrderingQueue.Pages.ConfirmOrderModel
@using Microsoft.AspNetCore.Identity
@using FoodOrderingQueue.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@{
    ViewData["Title"] = "Confirm Order";
    var numOrder = 0;
    foreach(var item in Model.FoodOrders){
        if(item.Stores.StoreID== Model.storeId){
            numOrder += 1;
        }
    }
    var minute = Model.rateTime+numOrder;
    var Time = DateTime.Now.AddMinutes(minute);
}
<center>
    <h2 style="font-weight: bold;">ยืนยันการสั่งซื้อ</h2>
    <hr />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" style="font-size: 20px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @foreach (var item in Model.Store)
                    {
                        if(item.StoreID == Model.storeId){
                           <h2>ร้านค้า : @item.StoreName</h2> 
                        }
                    }
                    <input asp-for="FoodOrder.StoreID" value="@Model.storeId" class ="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    <input asp-for="FoodOrder.FoodMenuID" value="@Model.foodId" class ="form-control" type="hidden" />
                </div>
                <div class="form-group">
                    รายการสั่งซื้อ : @Model.foodName
                    <input asp-for="FoodOrder.FoodName" value="@Model.foodName" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    ราคา : @Model.foodPrice บาท
                    <input asp-for="FoodOrder.Price" value="@Model.foodPrice" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    <input asp-for="FoodOrder.FinshedTime" value="@Time.ToString("H:mm")" class="form-control" type="hidden"/>
                </div>
                <div class="form-group">
                    เลือกภาชนะ :
                    <select asp-for="FoodOrder.ContainerID" class ="form-control" asp-items="ViewBag.ContainerID"></select>
                </div>
                <div class="form-group">
                    คำอธิบาย :
                    <textarea asp-for="FoodOrder.Describe" class="form-control" rows="4" cols="50" ></textarea>
                    <span asp-validation-for="FoodOrder.Describe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    ผู้สั่งอาหาร : @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
                    <input asp-for="FoodOrder.NewsUserId" value="@UserManager.GetUserId(User)" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <button asp-page="Order" id="buttonCancle">กลับหน้าสั่งซื้อ</button> &nbsp;  
                    <input type="submit" value="ยืนยันการสั่งซื้อ" id="buttonConfirm" class="submit" style="background-color: FFFFFF;"/>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function(){
        $(".submit").click(function(){
            location.reload();
            alert("การสั่งซื้อของคุณได้รับการยืนยันแล้ว\n\nขอบคุณที่ใช้บริการครับ");
        });
    });
</script>
<style>
    #buttonConfirm{
        display: inline-block;
        border: 1px solid #17D4FE;
        border-radius: 3px;
        padding: 6px 12px;
        color: #000000;
        background-color: #17D4FE;
        font-size: 16px;
    }
    #buttonConfirm:hover{
        background-color: #034E52;
        border: 1px solid #034E52;
        color: white;
        transition: 0.3s;

    }

    #buttonCancle{
        display: inline-block;
        border: 1px solid #EDDEA5;
        border-radius: 3px;
        padding: 6px 12px;
        color: #000000;
        background-color: #EDDEA5;
        font-size: 16px;
    }
    #buttonCancle:hover{
        background-color: #8F8351;
        border: 1px solid #8F8351;
        color: white;
        transition: 0.3s;

    }
</style>