﻿@page
@model FoodOrderingQueue.Pages.OrderModel
@{
    ViewData["Title"] = "สั่งซื้ออาหาร";
}

<h2 style="font-weight: bold; text-align:center">สั่งซื้ออาหาร</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <h3 id="Store">ชื่อร้านค้า</h3>
    </div>
</div>
<br>
@foreach (var item in Model.Store) {
    <div class="row" style="text-align: center;">
        <div class="col-md-3">
            <div class="row">
                <h4 id="StoreName">@Html.DisplayFor(modelItem => item.StoreName)</h4>
            </div>
            <div class="row">
                <p style="text-align: left;">คำอธิบายร้านค้า : &nbsp; @item.StoreDescirbe</p>
            </div>
            <div class="row">
                <p style="text-align: left;">ผู้เป็นเจ้าของร้าน : &nbsp; @item.postUser.FirstName @item.postUser.LastName</p>
            </div>
        </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="row" style="font-weight: bold; Background-color : #EDDEA4" >
                        <div class="col-md-3">
                            ชื่ออาหาร
                        </div>
                        <div class="col-md-3">
                            ราคา
                        </div>
                        <div class="col-md-3">
                            ระยะเวลา
                        </div>
                        <div class="col-md-3">
                            ปุ่มสั่งซื้อ
                        </div>
                    </div><hr>
                    @foreach (var items in Model.FoodMenu) {
                        @if(@items.StoreID == @item.StoreID){
                        <form action="/Order/ConfirmOrder" method="GET">
                            <div class="row">
                                <input name="storeId" value="@items.StoreID" type="hidden" />
                                <input name="foodId" value="@items.FoodMenuID" type="hidden" />
                                <div class="col-md-3">
                                    @Html.DisplayFor(modelItem => items.FoodName)
                                    <input name="foodName" value="@items.FoodName" type="hidden" />
                                </div>
                                <div class="col-md-3">
                                    @Html.DisplayFor(modelItem => items.Price)
                                    <input name="price" value="@items.Price" type="hidden" />
                                </div>
                                <div class="col-md-3">
                                    @Html.DisplayFor(modelItem => items.RateTime)
                                    <input name="rateTime" value="@items.RateTime" type="hidden" /> นาที
                                </div>
                                <div class="col-md-3">
                                    @Html.AntiForgeryToken() 
                                    <input type="submit" value="สั่งซื้อ" id="button"/>
                                </div>
                            </div><hr>   
                        </form>
                        }
                    }
                </div>
            </div>
    </div>
}
<style>
    #button{
        display: inline-block;
        border: 1px solid #17D4FE;
        border-radius: 3px;
        padding: 6px 12px;
        color: #000000;
        background-color: #17D4FE;
    }
    #button:hover{
        background-color: #034E52;
        border: 1px solid #034E52;
        color: white;
        transition: 0.3s;

    }
    #StoreName{
        font-weight: bold; 
        text-align: center ; 
        background-color: #17D4FE;
    }
    #Store{
        text-align: center;
        font-weight: bold;
    }
</style>